@import "_mixin.scss";
/* /////////////////////////////

	1. Basic Styles
	2. Navbar
  3. Buttons
  4. About
  5. Home
  6. Portfolio
  6-1. Medium style
	14. Footer
	15. Media Queries
	16. Keyframe

   //////////////////////////*/

$primary: #e03535;
$secondary: #e03535;
$black10: rgba(0, 0, 0, 0.1);


.text-secondary {
	color: $secondary !important;
}

.btn-light {
	border: 1px solid black;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", 'Roboto', 'Open Sans', sans-serif;
	color: rgba(0, 0, 0, 0.87);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (min-width: 992px) {
		//padding-top: 83px;
	}

	@media (max-width: 991px) {
		padding-top: 59px;
	}
}

strong {
	font-weight: 600;
}

h1 {
	font-size: 1.5rem;

	@media (min-width: 992px) {
		font-size: 2.5rem;
	}
}

h2 {
	font-size: 1.3rem;

	@media (min-width: 992px) {
		font-size: 2rem;
	}
}

h3 {
	font-size: 3rem;
}

a {
	&.text-link {
		color: rgba(0, 0, 0, 0.83);
		text-decoration: underline;
		margin: 0 2px 0 4px;
	}

	&.primary-link {
		margin: 0 2px 0 4px;
	}

	&:hover {
		text-decoration: none;
	}
}

p {
	line-height: 1.6;

	@media(max-width: 991px) {
		line-height: 1.3;
	}
}

p,
li {
	font-weight: 300;

	@media(min-width: 992px) {
		letter-spacing: .05em;
	}
}

ul {
	@media(max-width: 991px) {
		padding-left: 20px;
	}

	li {
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 10px;
	}
}

hr {
	margin: 32px 0;
}

section {
	@media (min-width: 992px) {
		margin: 100px 0px;
	}

	@media (max-width: 991px) {
		margin: 30px 0;
	}
}

.crop {
	position: relative;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
}

.crop img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.crop img.portrait {
	width: 100%;
	height: auto;
}

/* ==============================================
     2. Navbar 
  ===============================================*/

.navbar.navbar-light {
	background-color: white; //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.09);

	.navbar-brand {
		padding-left: 0;
	}

	.logo-img {
		max-height: 30px;
		margin: -4px 16px 0 0;
	}

	.logo-text {
		display: inline-block;
		letter-spacing: 1px;
		margin: 0;
		font-size: 1.3rem;
		font-weight: 700;
	}

	.nav-item {
		margin: 0;
	}

	.nav-link {
		font-size: 15px;
		font-weight: 400;
		letter-spacing: .05em;
		//padding: 10px 16px;
		display: block;

		&:hover {
			text-decoration: none;
			color: $secondary;
		}

		&.active {
			font-weight: 600;
		}
	}

	.navbar-toggler {
		padding: .25rem;
		border: none;
	}

	/* Large devices (desktops, 992px and up) */
	@media (min-width: 992px) {
		padding: 10px;

		&.navbar-expand-lg .navbar-nav .nav-link {
			padding-left: 40px;
		}
	}

	@media (max-width: 991px) {
		.navbar-nav {
			height: 100vh;
			padding-top: 20vh;
		}

		.nav-item {
			padding: 10px 0;
			text-align: center;
		}

		.logo-img {
			position: absolute;
			top: 15px;
			left: 10px;
		}

		.logo-text {
			font-size: 1.1rem;
			letter-spacing: 0;
		}

		// .navbar-collapse::after {
		// 	content: "";
		// 	position: fixed;
		// 	top: 256px;
		// 	right: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	background: rgba(0, 0, 0, 0.4);
		// }
	}
}

/* ==============================================
     3. Buttons
  ===============================================*/

/* ==============================================
     4. About
  ===============================================*/

#about {
	h1 {
		margin-bottom: 6px;
		font-size: 22px;

		@media (max-width: 991px) {
			margin: 20px 0;
		}
	}

	h3 {
		margin-bottom: 30px;
	}

	.hero {
		padding: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover; //background-attachment: fixed;
		//height: 50vh;
	}

	.title {
		margin-bottom: 30px;
		font-weight: 800;
	}

	.my-portrait {
		width: 66%;
		border-radius: 50%;
		border: 8px solid white;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .07);
	}

	.instagram {
		margin-top: 50px;
		border-top: 1px solid $black10;
		padding-top: 50px;
	}

	.instagram-photo {
		border: 1px solid $black10;
		border-radius: 2px;
		display: block;

		img {
			width: 100%;
			border: 6px solid white;
		}
	}

	.profile {
		margin: 160px 0;

		@media (max-width: 991px) {
			text-align: center;
		}
	}

	.skill {
		h3 {
			margin-bottom: 60px;
		}

		h5 {
			margin-top: 20px;

			&:first-child {
				margin-top: 0;
			}
		}

		p {
			margin-bottom: 6px;
		}
	}

	.experience {
		.job-title {
			margin-top: 30px;
		}

		h5 {
			font-weight: 700;
		}

		a {
			font-weight: 700;
		}
	}

	.travel {


		.desc {
			text-align: center;
			font-size: 12px;
			margin-top: 6px;
		}
	}
}

/* ==============================================
     5. Home
  ===============================================*/

#home {
	.hero {
		position: relative;
		padding: 27vh 0 17vh;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		margin: 0;

		h2 {
			margin-bottom: 40px;
			font-size: 34px;
			font-weight: 300;
			line-height: 2;
		}

		h3 {
			margin-top: 36px;
			font-weight: 400;
			font-size: 20px;
			color: $primary;
		}

		p {
			font-size: 16px;
			font-weight: 300;
			padding: 0px;
		}

		.avatar {
			width: 80%;
		}

		@media (min-width: 992px) {}

		@media (max-width: 991px) {
			padding: 15vh 0;
			text-align: center;

			h2 {
				font-size: 24px;
			}

			h3 {
				font-size: 24px;
			}

			.avatar {
				width: 50%;
			}

			p {
				font-size: 14px;
			}

		}
	}

	.particles-layout {
		background: #0052e9;
	}
}

/* ==============================================
     6. Portfolio
  ===============================================*/

.portfolio {
	h3 {
		font-size: 1.6em;
		font-weight: 700;

		&:not(:first-child) {
			margin-top: 50px;
		}

		@media (max-width: 991px) {
			font-size: 1em;
		}
	}

	h4 {
		font-size: 1.1em;
		margin-bottom: 20px;

		&:not(:first-child) {
			margin-top: 50px;
		}
	}

	h5 {
		margin-top: 30px;
	}

	.hero {
		padding: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover; // background-attachment: fixed;
		height: 50vh;
	}

	.title-block {
		margin-bottom: 50px;
		padding-bottom: 50px;

		@media(max-widh: 991px) {
			margin-bottom: 10px;
		}
	}

	.img-fluid {
		margin: 30px 0;
	}

	.card {
		position: relative;
		opacity: 0.8;
		transition: 0.3s all;
		border: none;
		margin-bottom: 40px;
		color: #676767;

		&:hover {
			transition: 0.3s all;
			opacity: 1;
			box-shadow: 0px 22px 43px rgba(68, 68, 68, 0.2);
			margin-top: -5px;

			.card-body {
				transition: 0.3s all;
				padding-left: 1.25rem;
			}
		}

		.card-body {
			transition: 0.3s all;
			position: relative;
			padding-left: 0;
		}

		.card-title {
			color: rgba(0, 0, 0, 0.87);
			display: inline-block;
		}

		.card-title:last-child {
			margin-bottom: 0;
		}

		@media (min-width: 992px) {
			.card-title {
				font-size: 28px;
				letter-spacing: -0.5px;
			}
		}

		@media (max-width: 991px) {
			margin-bottom: 10px;

			.card-body {
				padding: 10px 0 0 0;
			}

			.card-title {
				font-size: 0.8em;
			}

			p {
				font-size: 0.8em;
			}
		}
	}

	&.dls {
		svg {
			height: 54px;
		}
	}
}

.portfolio-footer-link {
	color: #ccc;
	margin: 8px 12px;
	word-break: keep-all;
	display: inline-block;
	font-size: 1.2em;
}

/* ==============================================
     6. Card
  ===============================================*/

.card{
}

/* ==============================================
     14. Footer
  ===============================================*/

footer {
	padding: 20px 0;
	color: #62656a;

	.copyright {
		float: right;
		margin: 0;
		font-size: 12px;
		line-height: 37px;
	}

	a {
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}

	i {
		font-size: 25px;
		color: #888;
		margin-right: 10px;

		&:hover {}
	}
}

#vocabulary{
	input[type="checkbox"]{
		margin-right: 4px;
	}
}

/* ==============================================
     15. Media Queries
  ===============================================*/

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {}

@media (max-width: 768px) {}

/* Small devices (mobile, 991px and down) */

@media (max-width: 991px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {}

/* ==============================================
     16. Keyframe
  ===============================================*/

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}


// stock start

.stock{
	table{
		p{
			margin: 0;
			font-size: 12px;
		}
	}
}